[core]
	editor = vim
	pager = less -F -X

[alias]
	ama = am --abort
	amc = am --continue
	ams = am --skip
	co = checkout
	ch = cherry-pick
	chq = cherry-pick --quit
	cha = cherry-pick --abort
	chc = cherry-pick --continue
	c = commit
	cm = commit -m
	ca = commit -a
	cam = commit -am
	ce = commit --amend
	fix = commit --amend --no-edit
	fixall = commit -a --amend --no-edit
	fauth = commit --amend --no-edit --reset-author
	dc = diff --cached
	f = fetch
	fo = fetch origin
	fp = format-patch
	ls = log --pretty=format:"%C(blue)%h\\ %C(white)%ai%C(cyan)%d\\ %C(reset)%s%C(yellow)\\ [%an\\ <%ae>]" --decorate
	lign = !git ls-files -v | grep '^[[:lower]]'
	ma = merge --abort
	mc = merge --continue
	mom = merge origin/master
	rom = rebase origin/master
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	rbs = rebase --skip
	r = reset
	rsh = reset --hard
	rss = reset --soft
	rea = remote add
	ren = remote rename
	rer = remote remove
	reg = remote get-url
	res = remote set-url
	s = stash
	sp = stash pop
	st = status
	stu = status -uno
	sa = submodule add
	su = submodule update
	sui = submodule update --init
	au = update-index --assume-unchanged
	nau = update-index --no-assume-unchanged
	wta = worktree add
	wtl = worktree list
	wtp = worktree prune

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[merge]
	tool = fugitive

[color "diff"]
	whitespace = red reverse

[diff]
	wsErrorHighlight = all
