# Use Page up and Page down to search through history
"\e[5~": history-search-backward
"\e[6~": history-search-forward
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-h": unix-filename-rubout
